*{
    margin: 0;
    padding:0;
}
html{
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.under{
    text-decoration: none;
    font-style: normal;
    color: #C3083F;
}
.under:hover{
    color:#950741;
}
.con1{
	background-color: #0a0a0a;
    	padding-bottom: 20vh;
	margin: 0;

}
.nbrand{
    padding-left: 25px;
    text-decoration: none;
    font-family: 'Uchen', serif;
    font-size: 20px;
    color: #950741;
}
.nbrand:hover{
    color: #C3083F;
}
.name{
    margin-top: 25vh;
    font-family: 'Uchen', serif;
    font-size: 40px;
    color: #C3083F;
}
.descreption{
    padding-top: 10vh;
    font-family: 'Uchen', serif;
    font-size: 20px;
    color: #4E4E50;
}
.but{
    background-color: transparent;
    color: white;
    border-color: #C3083F;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 6px;
    margin-top: 15vh;
    padding: 2%;
    transition: 0.5s;
}
.but:hover{
    background-color: #C3083F;
}
.about{
    padding-top: 20vh;
    padding-bottom: 10vh;
    font-family: 'Uchen', serif;
    text-decoration: underline;
}
.main{
    margin-bottom: 20vh;
}
.image{
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.col-lg-6{
    transition: 0.5s;
}
.col-lg-6:hover{
    transform: translateY(-5px);
}
.col-lg-8{
    font-family: 'Uchen', serif;
    font-size: 20px;
}
.card{
    font-family: 'Uchen', serif;
}
.text{
    color: #C3083F;
}
.card-body{
    background-color: #E3E2DE;
}
.card-title{
    color:#C3083F;
}
.card-text{
    font-size: 20px;
    color:#C3083F;
}
#text-sub{
    color: #EE4C7D;
}
